@import "../utils/mixins";
@import "../utils/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;

  .selects-container {
    @include easeTransition(0.2s);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    @include for-mobile-landscape {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  .submit-button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    align-self: flex-end;
  }

  .submit-button {
    text-transform: uppercase;
    background-color: $gray;
    color: $white;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
}
