@import "../utils/mixins";
@import "../utils/variables";

.form {
  @include flexCenter(row);
  @include easeTransition(0.2s);
  padding: 1rem 2rem;
  gap: 0.5rem;

  .submit-button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

  .submit-button {
    text-transform: uppercase;
    background-color: $gray;
    color: $white;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
}
