@import "../utils/mixins";
@import "../utils/variables";

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 1rem 2rem;
  row-gap: 1rem;
  @include for-mobile-landscape {
    padding: 0.5em;
  }
  .selects-container {
    grid-column: 1/3;

    @include easeTransition(0.2s);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    @include for-mobile-landscape {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .controls {
    display: flex;
    align-items: start;
    grid-column: 1/3;
    gap: 3rem;

    @include for-mobile-landscape {
      // flex-direction: column;
      // gap: 0;
    }
    .title {
      font-weight: 600;
    }
  }

  .submit-button {
    padding: 0.5rem 1rem;
    grid-row: 3/4;
    border-radius: 8px;
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
  }

  .submit-button {
    text-transform: uppercase;
    background-color: $lightPurple;
    color: $white;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
}
