@import "../utils/variables";
@import "../utils/mixins";

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  grid-gap: 2rem;
  margin: 2rem;
}

.no-results {
  @include flexCenter(row);
  font-size: 1.2rem;
  text-transform: capitalize;
  height: 20dvh;
}
