@import "../utils/mixins";
@import "../utils/variables";

.product {
  position: relative;
  @include flexCenter(column);
  background-color: $white;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 24rem;
  aspect-ratio: 1/1/6;
  gap: 1rem;
  overflow: hidden;
  width: 12rem;
  // max-height: 12rem;
  @include easeTransition(0.2s);
  @include for-mobile-landscape {
    padding: 0.5rem;
  }

  &:hover {
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .tire-image {
    width: 10rem;
  }

  .content {
    position: absolute;
    height: 18rem;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: $white;
    transition: top 0.2s ease;
  }

  &:hover .content {
    top: 0;
    height: 100%;
  }

  .price {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .characteristics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    @include for-mobile-landscape {
      font-size: 0.8rem;
    }
    .tire-width,
    .tire-aspect-ratio,
    .tire-season,
    .tire-diameter,
    .availability {
      flex-basis: 50%;
      margin-bottom: 0.5rem;
    }
  }
}
