@import "../utils/variables";
@import "../utils/mixins";

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin: 2rem;

  &:hover > .product:not(:hover) {
    background-color: $lightGray;
  }
}
