@import "../utils/mixins";
@import "../utils/variables";

.sort-inputs-container {
  display: flex;
  gap: 3rem;
  height: 100%;
  flex: 2;
  .sort-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
    @include for-mobile-landscape {
      align-items: center;
      gap: 1rem;
    }
    .input-container {
      .sort-input {
        display: none;
        &:checked ~ label {
          &:before {
            width: 0.35rem;
            height: 2px;
            background-color: $green;
            border: none;
            transform: rotate(45deg);
            left: -18%;
            top: 50%;
          }
          &:after {
            width: 0.7rem;
            height: 2px;
            background-color: $green;
            transform: rotate(-45deg);
            left: -15%;
            top: 45%;
          }
        }
      }

      label {
        position: relative;
        cursor: pointer;
        &:before,
        &:after {
          position: absolute;
          content: "";
          @include easeTransition(0.1s);
        }

        &:before {
          width: 0.7rem;
          height: 0.7rem;
          border: 1px solid $gray;
          border-radius: 50%;
          left: -15px;
          top: 3px;
        }
        &:hover {
          color: $green;
          font-weight: 600;
        }
      }
    }
    .title {
      margin-bottom: 0.7rem;
      font-size: 1rem;
    }
    .reset-button {
      padding: 0.2rem 0.5rem;
      background-color: #514d4d;
      border-radius: 4px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      @include easeTransition(0.2s);
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}
