@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin easeTransition($duration) {
  transition: $duration ease;
}

@mixin for-desktop-landscape {
  @media (min-width: 988px) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (max-width: 988px) {
    @content;
  }
}
@mixin for-mobile-landscape {
  @media (max-width: 568px) {
    @content;
  }
}
