@import "../utils/mixins";
@import "../utils/variables";

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 2em;
  background: #212121;
  color: #fff;
  text-transform: capitalize;
  gap: 30px;
  overflow: hidden;
  h1 {
    font-size: 1.5em;
    position: relative;

    @include for-tablet-landscape {
      font-size: 1.3em;
    }
  }
  .text-shadow {
    span {
      background-color: orange;
      padding: 0.2rem 0rem 0.2rem 0.6rem;
      border-radius: 12px;
      color: #111;
    }
    text-align: center;
    letter-spacing: 0.2em;
    &:hover {
      color: #fff;
    }
  }
}

.tags small {
  @media (max-width: 768px) {
    font-size: 0.5em;
  }
}
