@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}
ff *:before, *:after {
  margin: 0;
  padding: 0;
}
* ::-webkit-scrollbar {
  width: 3px;
}
* ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
* ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
* ::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

input,
button {
  border: none;
  transition: 0.2s ease;
}

button {
  cursor: pointer;
}

body {
  background-color: rgb(240, 235, 235);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem;
  margin: 2rem;
}
.products-container:hover > .product:not(:hover) {
  background-color: rgb(240, 235, 235);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 2em;
  background: #212121;
  color: #fff;
  text-transform: uppercase;
  gap: 30px;
  overflow: hidden;
}
section h1 {
  font-size: 2.5em;
  animation-fill-mode: forwards;
  position: relative;
}
section h1:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 10px #2962ff;
  animation: underline 0.5s linear 1s;
  animation-fill-mode: forwards;
}
@media (max-width: 768px) {
  section h1 {
    font-size: 1.3em;
  }
}
section .text-shadow {
  font-style: italic;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px #2962ff;
  transition: all 0.5s ease-in-out;
  text-align: center;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate, appear 1s ease-in-out;
}
section .text-shadow:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .tags small {
    font-size: 0.5em;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px #2962ff;
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px #2962ff;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    letter-spacing: 600px;
  }
  100% {
    opacity: 1;
    letter-spacing: 1rem;
  }
}
@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 18rem;
  aspect-ratio: 1/1/6;
  gap: 1rem;
  overflow: hidden;
  transition: 0.2s ease;
}
@media (max-width: 568px) {
  .product {
    padding: 0.5rem;
  }
}
.product:hover {
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.product .tire-image {
  width: 100%;
  height: auto;
}
@media (max-width: 568px) {
  .product .tire-image {
    width: 9rem;
  }
}
.product .content {
  position: absolute;
  height: 18rem;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #fff;
  transition: top 0.2s ease;
}
.product:hover .content {
  top: 0;
}
.product .price {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.product .name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.product .description {
  margin-bottom: 1rem;
  font-weight: 600;
}
.product .characteristics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
}
@media (max-width: 568px) {
  .product .characteristics {
    font-size: 0.8rem;
  }
}
.product .characteristics .tire-width,
.product .characteristics .tire-aspect-ratio,
.product .characteristics .tire-season,
.product .characteristics .tire-diameter,
.product .characteristics .availability {
  flex-basis: 50%;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}
.form .selects-container {
  transition: 0.2s ease;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (max-width: 568px) {
  .form .selects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.form .submit-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  align-self: flex-end;
}
.form .submit-button {
  text-transform: uppercase;
  background-color: rgb(182, 175, 175);
  color: #fff;
}
.form .submit-button:hover {
  opacity: 0.8;
}
.form .submit-button:active {
  opacity: 1;
}